// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Your CSS partials
@import "components/index";
@import "pages/index";



$txt-color: #131313;
$primary-color: #4300F3;
$secondary-color: #DC001E;
$light-color: #d4eced;

$myrad: 2em;


html{
  font-family: 'Bricolage Grotesque', sans-serif;
}

a{
  text-decoration: none;
  color: $txt-color;
}


body{
  background-color: $light-color;
  // color: 131313;
  font-family: 'Bricolage Grotesque', sans-serif;
}

h1{
  font-family: 'Bricolage Grotesque', sans-serif;
}

header{
  width: 100%;

}


nav{
  width: 70%;
  margin: 0 auto;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul{
    list-style: none;
    display: flex;
    gap: 2em;
    li{
      cursor: pointer;
      text-decoration: none;

    }
  }
}


.logo-header{
cursor: pointer;
font-size: 2em;
color: $txt-color;
  span{
  color: $primary-color;
  }
}


// $$$$$$$$$$$$$$$$$$$$$$ ------ INDEX ------ $$$$$$$$$$$$$$$$$$$$$$

.hero{
color: $txt-color;
  font-family: 'Bricolage Grotesque', sans-serif;
}

.hero-text{
  font-size: 6em;
  display: flex;
  justify-content: flex-start;
  color: $txt-color;
  width: 100%;
}

main{
  width: 70%;
  margin: 0 auto;
}


// ------ LIST GRID

.list-grid-cont-4{
  background-color: $txt-color;
  border-radius: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5em;
  margin-top: 3em;
  padding: 2em;
  padding-top: 6em;
  position: relative;
}

.list-grid-cont-4_tittle{
  color: $light-color;
  font-size: 4em;
  font-family: 'Bricolage Grotesque', sans-serif;
position: absolute;
right: 0.6em;
}

.list-preview-card{
  border-radius: 2em;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: $primary-color;
  font-family: 'Bricolage Grotesque', sans-serif;
  h3{
    font-family: 'Bricolage Grotesque', sans-serif;
  }
}


// $$$$$$$$$$$$$$$$$$$$$$ ------ LIST NEW ------ $$$$$$$$$$$$$$$$$$$$$$


.new-list-tittle{
font-family: 'Bricolage Grotesque', sans-serif;
color: $primary-color;
font-size: 3em;
}


.new-list-btn{
border-radius: 2em;
}




// $$$$$$$$$$$$$$$$$$$$$$ ------ SHOW ------ $$$$$$$$$$$$$$$$$$$$$$

// ------ SHOW MAIN CONTAINER
.show-main-container{
display: grid;
grid-template-columns: auto;
gap: 2em;
}


// ------ HEADING

.show-list-heading-grid{
display: grid;
grid-template-columns: 9fr 1fr;
gap: 2em;

  div{
    background-color: $primary-color;
    color: white;
    padding: 1em;
    border-radius: 2em;
  }
}

.list-show-tittle{
font-size: 6em;
}

.add-book{

  display: flex;
  flex-direction: center;
  align-items: center;
  max-height: 128px;
  margin-top: auto;


  .fa-circle-plus{
    font-size: 4em;
  }
}

.add-book :hover{
  color: #cdbcf8;
  cursor: pointer;
}


// ------ BOOKMARK GRID

.show-book-grig{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  div{
    background-color: $txt-color;
    color: white;
    padding: 2em;
    border-radius: 2em;
  }
  img{
    width: 100%;
    border-radius: 2em 2em 2em 0em;
  }

}


.trash-icon{
  color: $secondary-color;
}


//--------MODAL

.modal-title{
font-size: 3em;
color: $primary-color;
}
.modal-header .btn-close{
color: $secondary-color;
}

.modal-content{
  padding: 2em;
  border-radius: 2em 2em 2em 0em;
}

.modal-footer .btn{
border-radius: 2em;
}

.modal-footer .btn-primary input{
padding: 0;
margin: 0;
color: white;
}



// ------ BOOKARK REVIEW


.show-book-review-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  background-color: $txt-color;
  color: white;
  padding: 2em;
  border-radius: 2em;
  padding-top: 6em;
  position: relative;

}



.show-book-review-tittle{
  color: $light-color;
  font-size: 4em;
  font-family: 'Bricolage Grotesque', sans-serif;
  position: absolute;
  left: 0.6em;

}

.show-book-review-flow{
  border-radius: 2em;
  padding: 2em;
  min-height: 2em;
}

.show-book-review-creat{
  background-color: #4c4c4c;
  border-radius: 2em;
  padding: 2em;
  min-height: 2em;
}
